{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-capitalize font-weight-bold">Jobs Count</p>
                    <h5 class="font-weight-bolder mb-0">
                      <span id="jobs-count">0</span>
                      <span class="text-success text-sm font-weight-bolder">+55%</span>
                    </h5>
                  </div>
                </div>
                <div class="col-4 text-end">
                  <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                    <i class="ni ni-money-coins text-lg opacity-10" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-capitalize font-weight-bold">Countries</p>
                    <h5 class="font-weight-bolder mb-0">
                      <span id="countries">0</span>
                      <!-- <span class="text-success text-sm font-weight-bolder">+3%</span> -->
                    </h5>
                  </div>
                </div>
                <div class="col-4 text-end">
                  <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                    <i class="ni ni-world text-lg opacity-10" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-lg-6 mb-lg-0 mb-4">
          <div class="card">
            <div class="card-body p-3">
              <canvas id="date-line-chart"></canvas>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card h-100 p-3">
            <canvas id="salary-bar-chart"></canvas>
          </div>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-lg-6 mb-lg-0 mb-4">
          <div class="card">
            <div class="card-body p-3">
              <canvas id="category-pie-chart"></canvas>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card h-100 p-3">
            <canvas id="country-bar-chart"></canvas>
          </div>
        </div>
      </div>

      {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block scripts %}

  <script src="{% static 'js/plugins/chartjs.min.js' %}"></script>
  <script>
    const chartColors = [
      "#003f5c",
      "#2f4b7c",
      "#665191",
      "#a05195",
      "#d45087",
      "#f95d6a",
      "#ff7c43",
      "#ffa600",
    ];

    loadJobsData();

    async function loadJobsData() {
      const response = await fetch("/job/");
      let data = await response.json()

      drawCategoryPieChart(data)
      drawSalaryBarChart(data)
      drawCountryBarChart(data)
      drawDateLineChart(data)
      renderNumber(data)
    }

    function drawCategoryPieChart(data){

      let categoryCounts = {};

      let pieData = data.filter(job=>job.category)

      pieData.forEach(job => {
          let categoryLabel = job.category;
          if (categoryCounts.hasOwnProperty(categoryLabel)) {
              categoryCounts[categoryLabel]++;
          } else {
              categoryCounts[categoryLabel] = 1;
          }
      });

      console.log(categoryCounts)

      let labels = Object.keys(categoryCounts);
      let values = Object.values(categoryCounts);

      var ctx = document.getElementById("category-pie-chart").getContext("2d");

      new Chart(ctx, {
        type: "pie",
        data: {
          labels: labels,
          datasets: [{
            data: values,
            backgroundColor: chartColors,
          }, ],
        },
        options: {
          responsive: true,
          plugins: {
            legend: {
              position: 'bottom',
            },
            title: {
              display: true,
              text: 'Job Category'
            }
          }
        },
      });

    }

    function drawSalaryBarChart(data){

      let salaryBins = {};

      let salaryData = data.filter(job=>job.salary_min && job.salary_max)
                            .sort((a,b)=>{
                              const aSalary = (Number(a.salary_min) + Number(a.salary_max)) / 2;
                              const bSalary = (Number(b.salary_min) + Number(b.salary_max)) / 2;
                              return aSalary - bSalary
                            })

      salaryData.forEach(job => {
        const averageSalary = (Number(job.salary_min) + Number(job.salary_max)) / 2;

        const bin = Math.floor(averageSalary / 2000) * 2000; 
        const binLabel = `${bin}-${bin + 1999}`;

        if (!salaryBins[binLabel]) {
            salaryBins[binLabel] = 1; 
        } else {
            salaryBins[binLabel] += 1; 
        }
      });

      var ctx = document.getElementById("salary-bar-chart").getContext("2d");

      const salaryChart = new Chart(ctx, {
          type: 'bar',
          data: {
              labels: Object.keys(salaryBins), // Use the labels array
              datasets: [{
                  label: 'Average Salary',
                  data: Object.values(salaryBins), // Use the data array
                  backgroundColor: chartColors,
              }]
          },
          options: {
              scales: {
                  y: {
                      beginAtZero: true
                  }
              },
              plugins: {
                legend: {
                  position: 'bottom',
                },
                title: {
                  display: true,
                  text: 'Salary Distribution'
                }
              }
          }
      });
    }

    function drawCountryBarChart(data){

      let countryCounts = {};

      let countryData = data.filter(job=>job.country)

      countryData.forEach(job => {
          let countryLabel = job.country;
          if (countryCounts.hasOwnProperty(countryLabel)) {
            countryCounts[countryLabel]++;
          } else {
            countryCounts[countryLabel] = 1;
          }
      });

      let labels = Object.keys(countryCounts);
      let values = Object.values(countryCounts);
      var ctx = document.getElementById("country-bar-chart").getContext("2d");

      const countryChart = new Chart(ctx, {
          type: 'bar',
          data: {
              labels: labels, 
              datasets: [{
                  label: 'Number of Jobs',
                  data: values, 
                  backgroundColor: chartColors,
              }]
          },
          options: {
              scales: {
                  y: {
                      beginAtZero: true
                  }
              },
              plugins: {
                legend: {
                  position: 'bottom',
                },
                title: {
                  display: true,
                  text: 'Country Distribution'
                }
              }
          }
      });
    }

    function drawDateLineChart(data){
      const jobCountsByDate = data.reduce((acc, job) => {
          const date = job.created.substring(0, 10);
          acc[date] = (acc[date] || 0) + 1; 
          return acc;
      }, {});

      const sortedDates = Object.keys(jobCountsByDate).sort();

      const counts = sortedDates.map(date => jobCountsByDate[date]);

      const ctx = document.getElementById('date-line-chart').getContext('2d');

      const dateChart = new Chart(ctx, {
          type: 'line',
          data: {
              labels: sortedDates,
              datasets: [{
                  label: 'Jobs Created',
                  data: counts, 
                  borderColor: chartColors[3],
              }]
          },
          options: {
              scales: {
                  y: {
                      beginAtZero: true
                  }
              },
              plugins: {
                legend: {
                  position: 'bottom',
                },
                title: {
                  display: true,
                  text: 'Jobs Created Date'
                }
              },
          }
      });
    }

    function renderNumber(data){

      document.getElementById('jobs-count').innerHTML = data.length;

      const countrySet = new Set();

      data.forEach(job=>{
        countrySet.add(job.country)
      })

      document.getElementById('countries').innerHTML = countrySet.size;

    }
  </script>

{% endblock scripts %}
